:root {
  --accent: hsl(153, 71%, 59%);
}

html {
  box-sizing: border-box;
  font-size: 100%;
  height: 100vh;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: hsl(0, 0%, 11%);
  font-family: "Space Grotesk", sans-serif;

  color: hsl(0, 0%, 100%);
}

body,
input,
label,
button,
p,
h1,
h2 {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

.underline {
  transition: color var(--transition);
  background-image: linear-gradient(
    to right,
    var(--accent) 75%,
    var(--accent) 75%
  );
  background-position: 0 2.45em;
  background-repeat: repeat-x;
  background-size: 8px 4px;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.wrapper {
  height: 100%;
  width: calc(100% - 6.25rem);
  max-width: 69.375rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
}
.main {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  /* gap: 50px; */
}
.sidebar {
  padding: 30px 20px;

  display: flex;
  flex-direction: column;
  margin-right: 20px;
  background-color: hsl(0, 0%, 14%);
  border: 2px solid hsl(0, 0%, 20%);
  border-radius: 10px;
}
.settings__container {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.settings {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 10px;
  user-select: none;
}
.title__text {
  font-size: 32px;
}

.title__icon {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.color__container,
.range__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 55px;
  user-select: none;
}
.clear {
  height: 55px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--accent);
  background-color: hsl(0, 0%, 14%);
  border: 3px solid hsl(0, 0%, 20%);
  user-select: none;
}
.color,
.range,
.clear {
  width: 100%;
  margin: 0;
  cursor: pointer;
}
.color {
}

.color__label,
.range__label {
  width: 100%;
  font-weight: bold;
  font-size: 20px;

  text-align: center;
}

/* ----- BOARD ----- */
.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
}

.square {
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid black;
  flex: auto;
}

.board__container {
  --borderWidth: 5px;
  background: #1d1f20;
  position: relative;
  border-radius: var(--borderWidth);
  width: 800px;
  height: 800px;
}

.board__container:after {
  content: "";
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* --------------------------- */

.footer {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.copyright {
  font-size: 18px;
  margin-block: 5px;
}
.fa-github:before {
  color: white;
  font-size: 24px;
}
